/* You can add global styles to this file, and also import other style files */
.login-component{
    background: url(./assets/img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.res-compontent{
    background: url(./assets/img/green.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}