body{
    background: url(/assets/img/green.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.regsiter-border{
    box-shadow: inset 0 0 15px 0 rgba(138, 136, 136, 0.08) !important;
    box-shadow: 0 0 15px 0 rgba(54, 2, 2, 0.3) !important;
    border: 1px solid white !important;
}
.input-css{
border: 1px solid white !important;
}
.input-css::placeholder{
   color: white;
}
small{
color: white;
}