
<app-nabar></app-nabar>
<h2 class="text-center my-3 text-danger"[innerText]="'hi I am '+this.user.displayName"></h2>
<h2 class="text-center my-3 text-danger" [innerText]="'firbase localid'+this.user.localId"></h2>
<body class="">
    <div class="">
     <section class="banner-1">
        <div class="container">
           <div class="row "> 
              <div class="col-lg-4 col-md-6 col-12 py-5">
                <div class="banner-1-text my-5 py-5 text-center">
                    <p class="py-2"><span class=" headline-1 pb-1"> NEW ARRIVALS</span></p>
                    <h1 class="pb-2"> <span class="headline-2">Milancélos</span></h1>
                    <p class="pb-2">Quisquemos sodale suscipit delio condiment
                      cosmo lacus meleifend blanditos.</p>
                    <div class="py-3">
                        <a class="banner-1-button  banner-1-button-border  text-white  rounded-0"><span>shop now</span></a>
                    </div>         
              </div>
              </div>
            </div>
        </div>
</section>
    <!--  banner-2-->
<section class="banner-2 mt-4">
        <div class="container">
           <div class="row "> 
              <div class="col-lg-8 col-md-6 col-0"></div>
              <div class="col-lg-4 col-md-6 col-12 py-5 ">
                <div class="banner-1-text my-5 py-5 text-center">
                    <p class="py-2"><span class=" headline-1 pb-1">MOST POPULAR</span></p>
                    <h1 class="pb-2"> <span class="headline-2">Cosmopolis</span></h1>
                    <p class="pb-2">Quisquemos sodale suscipit delio condiment
                      cosmo lacus meleifend blanditos.</p>
                    <div class="py-3">
                        <a class="banner-1-button  banner-1-button-border  text-white  rounded-0"><span>shop now</span></a>
                    </div>         
              </div>
              </div>
            </div>
        </div>
</section>
    </div>
</body>